/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// | F1_1  | F2_1  | F3_1  | F4_1  | TH1_1 | TH2_1 |                 | TH2_1 | TH1_1 | F4_1  | F3_1  | F2_1  | F1_1  |
// | F1_2  | F2_2  | F3_2  | F4_2  | TH1_2 | TH2_2 |                 | TH2_2 | TH1_2 | F4_2  | F3_2  | F2_2  | F1_2  |
// | F1_3  | F2_3  | F3_3  | F4_3  | TH1_3 | TH2_3 |                 | TH2_3 | TH1_3 | F4_3  | F3_3  | F2_3  | F1_4  |
// | F1_4  | F2_4  | F3_4  | F4_4  | TH1_4 | TH2_4 |                 | TH2_4 | TH1_4 | F4_4  | F3_4  | F2_4  | F1_5  |
// | F1_5  | F2_5  | F3_5  | F4_5  | TH1_5 | TH2_5 |                 | TH2_5 | TH1_5 | F4_5  | F3_5  | F2_5  | F1_5  |
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                      &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &none
&kp ESC   &kp Q  &kp W    &kp E    &kp R     &kp T                       &kp Y  &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp TAB   &kp A  &kp S    &kp D    &kp F     &kp G                       &kp H  &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B                       &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B                       &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
&kp LGUI &kp LALT &kp LCTRL &kp RET &kp C_MUTE &none                      &kp C_MUTE &kp RET  &kp SPACE &kp RCTRL &kp RALT  &kp RGUI
            >;
        };
        
    };
};
