/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Custom layers
#define DEFAULT 0
#define STENO 1

// Steno macros
#define stn_mc(NODELABEL, NODE, LABEL, KEY1, KEY2) \
    NODELABEL: NODE { \
        compatible = "zmk,behavior-macro"; \
        label = LABEL; \
        #binding-cells = <0>; \
        bindings = <&kp KEY1>, <&kp KEY2>; \
        mode = "hold";\
    }


/ {
    behaviors {
		//macro_1: macro_1 {
		//	compatible = "zmk,behavior-macro";
		//	label = "MACRO_1";
		//	#binding-cells = <0>;
		//	bindings = <&kp R>, <&kp F>;
        //    mode = "hold";
		//};

        // Steno macro definitions, Left
        stn_mc(sm_hr, sm_hr, "SM_HR", R, F);
        stn_mc(sm_pw, sm_pw, "SM_PW", E, D);
        stn_mc(sm_tk, sm_tk, "SM_TK", W, S);
        stn_mc(sm_ao, sm_ao, "SM_AO", C, V);
        // Steno macro definitions, Right
        stn_mc(sm_eu, sm_eu, "SM_EU", N, M);
        stn_mc(sm_fr, sm_fr, "SM_FR", U, J);
        stn_mc(sm_pb, sm_pb, "SM_PB", I, K);
        stn_mc(sm_lg, sm_lg, "SM_LG", O, L);
	};


    keymap {
        compatible = "zmk,keymap";

        default_layer {
/* DEFAULT:
UP          | F1_1  | F2_1  | F3_1  | F4_1  | TH1_1 | TH2_1 |                 | TH2_1 | TH1_1 | F4_1  | F3_1  | F2_1  | F1_1  |
RIGHT       | F1_2  | F2_2  | F3_2  | F4_2  | TH1_2 | TH2_2 |                 | TH2_2 | TH1_2 | F4_2  | F3_2  | F2_2  | F1_2  |
DOWN        | F1_3  | F2_3  | F3_3  | F4_3  | TH1_3 | TH2_3 |                 | TH2_3 | TH1_3 | F4_3  | F3_3  | F2_3  | F1_4  |
LEFT        | F1_4  | F2_4  | F3_4  | F4_4  | TH1_4 | TH2_4 |                 | TH2_4 | TH1_4 | F4_4  | F3_4  | F2_4  | F1_5  |
CLICK       | F1_5  | F2_5  | F3_5  | F4_5  | TH1_5 | TH2_5 |                 | TH2_5 | TH1_5 | F4_5  | F3_5  | F2_5  | F1_5  |
*/
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                      &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &none
&kp ESC   &kp Q  &kp W    &kp E    &kp R     &kp T                       &kp Y  &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp TAB   &kp A  &kp S    &kp D    &kp F     &to STENO                   &kp H  &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B                       &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
&kp LGUI &kp LALT &kp LCTRL &kp RET &kp C_MUTE &bootloader               &kp C_MUTE &kp RET  &kp SPACE &kp RCTRL &kp RALT  &kp RGUI
            >;
        };
        
        steno_layer {
/* STENO
UP          | F1_1  | F2_1  | F3_1  | F4_1  | TH1_1 | TH2_1 |                 | TH2_1 | TH1_1 | F4_1  | F3_1  | F2_1  | F1_1  |
RIGHT       | F1_2  | F2_2  | F3_2  | F4_2  | TH1_2 | TH2_2 |                 | TH2_2 | TH1_2 | F4_2  | F3_2  | F2_2  | F1_2  |
DOWN        | F1_3  | F2_3  | F3_3  | F4_3  | TH1_3 | TH2_3 |                 | TH2_3 | TH1_3 | F4_3  | F3_3  | F2_3  | F1_4  |
LEFT        | F1_4  | F2_4  | F3_4  | F4_4  | TH1_4 | TH2_4 |                 | TH2_4 | TH1_4 | F4_4  | F3_4  | F2_4  | F1_5  |
CLICK       | F1_5  | F2_5  | F3_5  | F4_5  | TH1_5 | TH2_5 |                 | TH2_5 | TH1_5 | F4_5  | F3_5  | F2_5  | F1_5  |
*/
            bindings = <
&kp Q     &kp W     &kp E     &kp R      &kp C     &none                 &none     &kp N     &kp U     &kp I     &kp O     &none
&none     &sm_tk    &sm_pw    &sm_hr     &sm_ao    &none                 &none     &sm_eu    &sm_fr    &sm_pb    &sm_lg     &none
&kp A     &kp S     &kp D     &kp F      &kp V     &to DEFAULT           &none     &kp M     &kp J     &kp K     &kp L     &none
&none     &none     &none     &kp T      &none     &none                 &none     &none     &kp Y     &none     &none     &none
&none     &none     &none     &none      &none     &none                 &none     &none     &none     &none     &none     &none
            >;
        };

    };
};

//        template_layer {
/*
UP          | F1_1  | F2_1  | F3_1  | F4_1  | TH1_1 | TH2_1 |                 | TH2_1 | TH1_1 | F4_1  | F3_1  | F2_1  | F1_1  |
RIGHT       | F1_2  | F2_2  | F3_2  | F4_2  | TH1_2 | TH2_2 |                 | TH2_2 | TH1_2 | F4_2  | F3_2  | F2_2  | F1_2  |
DOWN        | F1_3  | F2_3  | F3_3  | F4_3  | TH1_3 | TH2_3 |                 | TH2_3 | TH1_3 | F4_3  | F3_3  | F2_3  | F1_4  |
LEFT        | F1_4  | F2_4  | F3_4  | F4_4  | TH1_4 | TH2_4 |                 | TH2_4 | TH1_4 | F4_4  | F3_4  | F2_4  | F1_5  |
CLICK       | F1_5  | F2_5  | F3_5  | F4_5  | TH1_5 | TH2_5 |                 | TH2_5 | TH1_5 | F4_5  | F3_5  | F2_5  | F1_5  |
*/

//            bindings = <
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//            >;
//        };

