/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keymap_finnish.h"

// Custom Layers
#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define NUMPAD 4
#define STENO 5

// Custom Keycodes
#define _SNIP LG(LS(S))  // Windows snip shortcut
#define _CUT LC(X)
#define _COPY LC(C) 
#define _PASTE LC(V)
#define _SAVE LC(S)
#define _UNDO LC(Z)
#define _REDO LC(Y)
#define _SEARCH LC(F)
#define _PWRD LC(LEFT)
#define _NWRD LC(RIGHT)
#define _BSWRD LC(BSPC)
#define _ALTF4 LA(F4)

// Custom debounce-period to mitigate unwanted duplicate keypresses
&kscan0 {
    debounce-period = <12>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

/* 
 * DEFAULT
 * ,-----------------------------------------.                              ,-----------------------------------------.
 * | ESC  |   1  |   2  |   3  |   4  |   5  |                              |   6  |   7  |   8  |   9  |   0  |   '  |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * | Tab  |   Q  |   W  |   E  |   R  |   T  |                              |   Y  |   U  |   I  |   O  |   P  |   Å  |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |LShift|   A  |   S  |   D  |   F  |   G  |-------.              ,-------|   H  |   J  |   K  |   L  |   Ö  |   Ä  |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * | LCTR |   Z  |   X  |   C  |   V  |   B  |-------|              |-------|   N  |   M  |   ,  |   .  |   -  |RShift|
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |NUMPAD| LAlt | LCTR |SPACE | / LOWER /                 \ RAISE\  |Enter |RCTRL | RAlt  | RGUI |
 *            | temp |      |      |      |/       /                   \      \ |      |      |       |      |
 *            `----------------------------------'                      '------''----------------------------'
 */
            bindings = <
&kp ESC     &kp N1   &kp N2       &kp N3    &kp N4     &kp N5                                    &kp N6   &kp N7    &kp N8     &kp N9    &kp N0       &kp FI_QUOT
&kp TAB     &kp Q    &kp W        &kp E     &kp R      &kp T                                     &kp Y    &kp U     &kp I      &kp O     &kp P        &kp FI_ARNG
&kp LSHFT   &kp A    &kp S        &kp D     &kp F      &kp G                                     &kp H    &kp J     &kp K      &kp L     &kp FI_ODIA  &kp FI_ADIA
&kp LCTRL   &kp Z    &kp X        &kp C     &kp V      &kp B      &kp C_MUTE          &kp C_PP   &kp N    &kp M     &kp COMMA  &kp DOT   &kp FI_MINS  &kp RSHFT
                     &mo NUMPAD   &kp LALT  &kp LCTRL  &kp SPACE  &mo LOWER           &mo RAISE  &kp RET  &kp RCTRL &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_DN PG_UP>;
        };

        lower_layer {

/* 
 * LOWER
 * ,-----------------------------------------.                              ,-----------------------------------------.
 * |      |  F1  |  F2  |  F3  |  F4  |  F5  |                              |  F6  |  F7  |  F8  |  F9  | F10  | F11  |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |   1  |   2  |   3  |   4  |   5  |                              |   6  |   7  |   8  |   9  |   0  | F12  |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |  ESC |   !  |   "  |   #  |   =  |   %  |-------.              ,-------|   &  |   /  |   (  |   )  |   ?  |   |  |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * |      |  ~   |  @   |  +   |   {  |   }  |-------|              |-------|   [  |   ]  |   <  |   >  |   \  |  *   |
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |      |      |      |      | / LOWER /                 \  ADJ \  |      |      |      |      |
 *            |      |      |      |      |/       /                   \      \ |      |      |      |      |
 *            `----------------------------------'                      '------''---------------------------'
 */            
            bindings = <
&trans    &kp F1       &kp F2       &kp F3         &kp F4       &kp F5                                         &kp F6       &kp F7       &kp F8       &kp F9       &kp F10      &kp F11
&trans    &kp N1       &kp N2       &kp N3         &kp N4       &kp N5                                         &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp F12
&kp ESC   &kp FI_EXLM  &kp FI_DQUO  &kp FI_HASH    &kp FI_EQL   &kp FI_PERC                                    &kp FI_AMPR  &kp FI_SLSH  &kp FI_LPRN  &kp FI_RPRN  &kp FI_QUES  &kp FI_PIPE
&trans    &kp FI_TILD  &kp FI_AT    &kp FI_PLUS    &kp FI_LCBR  &kp FI_RCBR   &trans             &trans        &kp FI_LBRC  &kp FI_RBRC  &kp FI_LABK  &kp FI_RABK  &kp FI_BSLS  &kp FI_ASTR
                       &trans       &trans         &trans       &trans        &trans             &mo ADJUST    &trans       &trans       &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_DN PG_UP>;
        };

        raise_layer {

/* 
 * RAISE
 * ,----------------------------------------.                               ,-----------------------------------------.
 * |      |      |      |      |      |      |                              |      |      |      |      |      |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |ALT F4| Ins  | Pscr | Menu |      |                              |      | PWrd |  Up  | NWrd |      |  `   |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      | Redo | Save | Snip |Search|      |-------.              ,-------| PGup | Left | Down | Rigth|BSWrd |  '   |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * |      | Undo |  Cut | Copy | Paste|      |-------|              |-------| PGdn | Home |  Del | End  |BSpace|      |
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |      |      |      |BSpace| /  ADJ  /                 \ RAISE\  |      |      |      |      |
 *            |      |      |      |      |/       /                   \      \ |      |      |      |      |
 *            `----------------------------------'                      '------''---------------------------'
 */
            bindings = <
&trans     &trans       &trans       &trans        &trans           &trans                                     &trans     &trans     &trans    &trans     &trans      &trans
&trans     &kp _ALTF4   &kp INS      &kp PSCRN     &kp K_CMENU      &trans                                     &trans     &kp _PWRD  &kp UP    &kp _NWRD  &trans      &kp FI_GRV
&trans     &kp _REDO    &kp _SAVE    &kp _SNIP     &kp _SEARCH      &trans                                     &kp PG_UP  &kp LEFT   &kp DOWN  &kp RIGHT  &kp _BSWRD  &kp FI_QUOT
&trans     &kp _UNDO    &kp _CUT     &kp _COPY     &kp _PASTE       &trans      &trans              &trans     &kp PG_DN  &kp HOME   &kp DEL   &kp END    &kp BSPC    &trans
                        &trans       &trans        &trans           &kp BSPC    &mo ADJUST          &trans     &trans     &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP &inc_dec_kp C_VOL_UP C_VOL_DN>; //Flipped to normal
        };

        adjust_layer {

/* 
 * ADJUST
 * ,-----------------------------------------.                              ,-----------------------------------------.
 * |BT_NXT| BT0  | BT1  | BT2  | BT3  | BT4  |                              |BTCLR |      |      |      |      |EP_TOG|
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |BT_PRV|      |      |      |      |      |                              |      | Text | Jrnl | Word |      |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |      | STENO| NUMP |DFAULT| CAPS |-------.              ,-------|      | Files| Calc | Excel|      |      |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------|              |-------|      | Web  |      | Mail |      |      |
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |      |      |      |      | / LOWER /                 \ RAISE\  |      |      |      |      |
 *            |      |      |      |      |/       /                   \      \ |      |      |      |      |
 *            `----------------------------------'                      '------''---------------------------'
 */
            bindings = <
&bt BT_NXT   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3    &bt BT_SEL 4                                &bt BT_CLR  &trans                  &trans            &trans          &trans     &ext_power EP_TOG
&bt BT_PRV   &trans         &trans         &trans         &trans          &trans                                      &trans      &kp C_AL_TEXT_EDITOR    &kp C_AL_JOURNAL  &kp C_AL_WORD   &trans     &trans
&trans       &trans         &to STENO      &to NUMPAD     &to DEFAULT     &kp CLCK                                    &trans      &kp C_AL_MY_COMPUTER    &kp C_AL_CALC     &kp C_AL_SHEET  &trans     &trans
&trans       &trans         &trans         &trans         &trans          &trans        &trans             &trans     &trans      &kp K_WWW               &trans            &kp C_AL_MAIL   &trans     &trans
                            &trans         &trans         &trans          &trans        &trans             &trans     &trans      &trans                  &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_DN PG_UP>;
        };

        numpad_layer {

 /*
 * NUMPAD
 * ,-----------------------------------------.                              ,-----------------------------------------.
 * |      |      |      |      |      |      |                              |      |NUMLCK|   /  |  *   |      |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |      |      |      |      |      |                              |      |   7  |   8  |  9   |  -   |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------.              ,-------|      |   4  |   5  |  6   |  +   |      |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------|              |-------|      |   1  |   2  |  3   |  ,   |      |
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |      |      |      |      | / LOWER /                 \ RAISE\  |KP_ETR| KP_0 |      |      |
 *            |      |      |      |      |/       /                   \      \ |      |      |      |      |
 *            `----------------------------------'                      '------''---------------------------'
 */
            bindings = <
&trans     &trans       &trans        &trans      &trans       &trans                                   &trans        &kp KP_NLCK     &kp KP_SLASH     &kp KP_MULTIPLY      &trans         &trans
&trans     &trans       &trans        &trans      &trans       &trans                                   &trans        &kp KP_N7       &kp KP_N8        &kp KP_N9            &kp KP_MINUS   &trans
&trans     &trans       &trans        &trans      &trans       &trans                                   &trans        &kp KP_N4       &kp KP_N5        &kp KP_N6            &kp KP_PLUS    &trans
&trans     &trans       &trans        &trans      &trans       &trans     &trans             &trans     &trans        &kp KP_N1       &kp KP_N2        &kp KP_N3            &kp KP_COMMA   &trans
                        &trans        &trans      &trans       &trans     &trans             &trans     &kp KP_ENTER  &kp KP_N0       &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP &inc_dec_kp C_VOL_UP C_VOL_DN>; //Flipped compared to other layers
        };

        steno_layer {

 /*
 * STENO
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * |      |      |      |      |      |      |                    |      |      |      |      |      |      |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |      |  S   |  T   |   P  |  H   |  *   |                    |   *  |   F  |  P   |  L   |  T   |  D   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LShift|  S   |  K   |   W  |  R   |  *   |-------.    ,-------|   *  |   R  |  B   |  G   |  S   |  Z   |
 * |------+------+------+------+------+------|  MUTE |    |  PLAY |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------|    |-------|      |      |      |      |      |      |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *            |      |  #   |  A   |  O   | / LOWER /       \ RAISE\  |  E   |  U   |  #    |      |
 *            |      |      |      |      |/       /         \      \ |      |      |       |      |
 *            `----------------------------------'           '------''---------------------------'
 */
            bindings = <
&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &none 
&trans     &kp S      &kp T      &kp P      &kp H      &kp T                                    &kp Y      &kp F      &kp P      &kp L      &kp T      &kp D 
&kp LSHFT  &kp S      &kp K      &kp W      &kp R      &kp G                                    &kp H      &kp R      &kp B      &kp G      &kp S      &kp Z 
&trans     &none      &none      &none      &none      &none      &kp C_MUTE         &kp C_PP   &none      &none      &none      &none      &none      &none 
                      &trans     &kp N1     &kp A      &kp O      &mo LOWER          &mo RAISE  &kp E      &kp U      &kp N1     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_DN PG_UP>;
        };


//        template_layer {
//
/* 
 * TEMPLATE
 * ,-----------------------------------------.                              ,-----------------------------------------.
 * |      |      |      |      |      |      |                              |      |      |      |      |      |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |      |      |      |      |      |                              |      |      |      |      |      |      |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------.              ,-------|      |      |      |      |      |      |
 * |------+------+------+------+------+------|  MUTE |              |  PLAY |------+------+------+------+------+------|
 * |      |      |      |      |      |      |-------|              |-------|      |      |      |      |      |      |
 * `-----------------------------------------/       /               \      \-----------------------------------------'
 *            |      |      |      |      | / LOWER /                 \ RAISE\  |      |      |      |      |
 *            |      |      |      |      |/       /                   \      \ |      |      |      |      |
 *            `----------------------------------'                      '------''---------------------------'
 */
//            bindings = <
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans                                   &trans     &trans     &trans     &trans     &trans     &trans
//&trans     &trans     &trans     &trans     &trans     &trans     &trans             &trans     &trans     &trans     &trans     &trans     &trans     &trans
//                      &trans     &trans     &trans     &trans     &trans             &trans     &trans     &trans     &trans     &trans
//            >;
//
//            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_DN PG_UP>;
//        };

    };
};
